@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.blue-section{
    width: 50%;
    background-color: #2C73EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.blue-section > .logo{
    color: white;
    font-weight: bold;
    font-size: 1.875rem;
    margin: 1.5em 2em;
    position: absolute;
    top: 0;
    left: 0;
}

.blue-section > .image-container {
     width: 400px;
     height: 400px;
}

.image-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.white-section{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.back{
    margin: 1.5em 2em;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 1em;
    color: #8692A6;
    font-weight: 600;
}

.white-section > .main-content {
    width: 400px;
}

button{
    all: unset;
    background-color: #2C73EB;
    color: white;
    font-weight: 500;
    width: 100%;
    text-align: center;
    padding-block: 1em;
    border-radius: 6px;
}

.input-field{
    all: unset;
    width: 100%;
    padding-block: 1em;
    border-radius: 6px;
    border: 1px solid #8692A6;
    padding-inline: 0.5em;
}