h1 {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    font-weight: bold;
    color: palevioletred;
}
Input[type="Email"] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px; 
    width: 95%;
    padding: 5%;
   }

    Input[type="Password"] {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 15px; 
        width: 150px;
        padding: 3px;
    }
label[for="Password:"] {
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  label[for="Email:"] {
        font-weight: bolder;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    text-align: center;
}
#SIGN-IN{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(243, 236, 236);
    background-color: palevioletred;
    width: 130px;
    padding: 2%;
    border-width: 0.2em;
    border-radius: 1.0em;
    cursor: pointer;
}

body {
    border: 2px 10px solid white;
    width: fit-content;
    height: fit-content ;
    justify-content: center;
    display: flex;
    
}
.login-container {

    border: 2px 10px solid white;
    border-radius: 5px;
    text-align: left;
    width: 500px;
    height: 500px;
    position: relative;
    padding: 5%;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}