@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* The line above already imports the required typeface for you */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color variables declared below */

:root {
    --primary-color: #28CB8B;  /* Primary */
    --secondary-color: #263238; /* Secondary */
    --d_grey-color: #4D4D4D; /* D_Grey */
    --grey-color: #717171; /* Grey */
    --light-grey-color: #89939E; /* L_Grey */
    --white-color: #FFFFFF; /* White */
    --silver-background-color: #F5F7FA; /* Silver background*/
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--silver-background-color);
    width: auto;
    height: auto
}

.container {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin-inline: auto;
}

.reg-header-button {
    background-color: #4CAF4F;
    color: white;
    padding: 10px 20px;
    border-radius: 5px ;
    cursor: pointer;
    text-decoration: none;
}
.header-links {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 1.3%;
    width: auto;
    justify-content: center;
    background-color: white;
}
.header-Logo {
    display: flex;
}
.header-texts {
    display: flex;
    align-self: auto;
    gap: 20px;
    margin-left: 30%;
    a {
        text-decoration: none;
        color: #4D4D4D;
      }
}
.header {
    width: auto;
    background-color: white;
}

.column1 {
    align-self: auto;
    display: inline;
}
.col1-txt-img {
    display: flex;
    align-items: center;
    gap: 26%;
    width: auto;
    height: 380px;
    background-color: #F5F7FA;
}
.reg-col1-button {
    background-color: #4CAF4F;
    color: white;
    padding: 10px 20px;
    border-radius: 5px ;
    cursor: pointer;
    text-decoration: none;
}
.col1-text {
    line-height: 52px;
    margin-left: auto;
}
h1 {
    font-size: 45px;
    color: #4D4D4D;
}
.col1-img {
    margin-right: auto;
}
.col1-elipses {
    text-align: center;
}
.col1-elipses1 {
    font-size: 50px;
    a {
        text-decoration: none;
        color: #4CAF4F;
      }
}
.col1-elipses2 {
    font-size: 50px;
    a {
        text-decoration: none;
        color: #4CAF4F;
        opacity: 30%;
      }
}
.col1-elipses3 {
    font-size: 50px;
    a {
        text-decoration: none;
        color: #4CAF4F;
        opacity: 30%;
      }
}

.column2 {
    background-color: white;
    height: 180px;
    padding: 1%;
}
.col2-text-icons {
    text-align: center;
}
.col2-txt1 {
    margin-top: 0.3%;
    font-size: 35px;
    font-weight: 600;
    color: #4D4D4D;
}
.col2-txt2 {
    color: #717171;
    margin-top: 1%;
}
.col2-icons {
    display: flex;
    gap: 9em;
    justify-content: center;
    margin-top: 1.5%;
}

.column3 {
    height: 85px;
    align-self: auto;
    display: inline;
    background: #28CB8B;
}
.col3-contents {
    background-color: white;
    height: 130px;
    text-align: center;
}
.col3-top-txt {
    font-size: 35px;
    font-weight: 600;
    color: #4D4D4D;
}
.col3-bottom-txt{
    color: #717171;
    margin-top: 0.5%;
}

.column4 {
    background-color: white;
    height: 280px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 8em;
}
.col4-txt-head {
    font-size: 30px;
    font-weight: 500;
    color: #4D4D4D;
}
.col4-txt-body {
    color: #717171;
}

.column5 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;
    width: auto;
    height: 280px;
    background-color: white;
}
.col5-txt1 {
    font-size: 35px;
    font-weight: 600;
    color: #4D4D4D;
    margin-top: -2%;
}
.col5-txt2 {
    color: #717171;
    margin-top: 3%;
    margin-bottom: 4%;
}
.col5-button {
    background-color: #4CAF4F;
    color: white;
    padding: 10px 20px;
    border-radius: 5px ;
    cursor: pointer;
    text-decoration: none;
}

.column6 {
    display: flex;
    align-items: center;
    width: auto;
    height: 200px;
    background-color: #F5F7FA;
    justify-content: center;
    gap: 20%;
    margin-right: 10%;
}
.col6-imgages {
    display: flex;
}
.col6-txt1 {
    font-size: 35px;
    font-weight: 600;
    color: #4D4D4D;
}
.col6-txt2 {
    color: #4D4D4D;
}
.col6-icon1 {
    display: flex;
    gap: 1%;
    align-items: center;
}
.col6-icon1-num {
    font-size: 25px;
    font-weight: bold;
    color: #4D4D4D;
}
.col6-icon1-txt {
    color: #717171;
}
.col6-icon2 {
    display: flex;
    gap: 1%;
    align-items: center;
}
.col6-icon2-num {
    font-size: 25px;
    font-weight: bold;
    color: #4D4D4D;
}
.col6-icon2-txt {
    color: #717171;
}
.col6-icon3 {
    display: flex;
    gap: 1%;
    align-items: center;
}
.col6-icon3-num {
    font-size: 25px;
    font-weight: bold;
    color: #4D4D4D;
}
.col6-icon3-txt {
    color: #717171;
}
.col6-icon4 {
    display: flex;
    gap: 1%;
    align-items: center;
}
.col6-icon4-num {
    font-size: 25px;
    font-weight: bold;
    color: #4D4D4D;
}
.col6-icon4-txt {
    color: #717171;
}
.col6-icon-txt {
    display: grid;
    grid-template-columns: repeat(2, 80%);
    gap: 15%;
}

.column7 {
    display: flex;
    align-items: center;
    width: auto;
    height: 320px;
    background-color: white;
    justify-content: center;
    gap: 8%;
}
.col7-txt1 {
    font-size: 35px;
    font-weight: 600;
    color: #4D4D4D;
    margin-top: -2%;
}
.col7-txt2 {
    color: #717171;
    margin-top: 3%;
    margin-bottom: 4%;
}
.col7-button {
    background-color: #4CAF4F;
    color: white;
    padding: 10px 20px;
    border-radius: 5px ;
    cursor: pointer;
    text-decoration: none;
}

.column8 {
    display: flex;
    align-items: center;
    width: auto;
    height: 300px;
    background-color: #F5F7FA;
    align-self: center;
}
.col8-contents{
    display: flex;
    gap: 7em;
}
.col8-txt1 {
    color: #4D4D4D;
    margin-bottom: 2%;
}
.col8-txt2 {
    color: #4CAF4F;
    font-weight: bold;
    margin-bottom: 2%;
}
.col8-txt3 {
    color: #717171;
    margin-bottom: 2%;
}
.col8-icons {
    display: flex;
    align-items: center;
    gap: 7%;
}
.meet-all-col8-button {
    color: #4CAF4F;
    border-radius: 5px ;
    cursor: pointer;
    text-decoration: none;
}

.column9 {
    padding-top: 1%;
    text-align: center;
    width: auto;
    height: 150px;
    background-color: white;
}
.col9-top-txt {
    padding-top: 1%;
    font-size: 35px;
    font-weight: 600;
    color: #4D4D4D;
}
.col9-bottom-txt{
    color: #717171;
    margin-top: 0.5%;
}

.column10 {
    background-color: white;
    display: flex;
    gap: 5em;
    justify-content: center;
    padding: 1%;
}
.col10-img1-txt {
    text-align: center;
    background-color: #abbed1c0;
    border-radius: 5px;
    width: 95%;
    padding: 0.3em;
    height: 37%;
    margin-top: -22%;
    margin-left: 3%;
    position: relative;
}
.col10-img2-txt {
    text-align: center;
    background-color: #abbed1c0;
    border-radius: 5px;
    width: 95%;
    padding: 0.3em;
    height: 37%;
    margin-top: -22%;
    margin-left: 3%;
    position: relative;
}
.col10-img3-txt {
    text-align: center;
    background-color: #abbed1c0;
    border-radius: 5px;
    width: 95%;
    padding: 0.3em;
    height: 37%;
    margin-top: -22%;
    margin-left: 3%;
    position: relative;
}
.readmore-col10-button {
    color: #4CAF4F;
    border-radius: 5px ;
    cursor: pointer;
    text-decoration: none;
}

.column11 {
    background-color: #F5F7FA;
    height: 240px;
    align-items: center;
    width: auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}
.col11-txt {
    font-size: 55px;
    font-weight: 600;
    color: #263238;
    text-align: center;
    margin-top: -1%;
}
.col11-button {
    background-color: #4CAF4F;
    color: white;
    padding: 10px 20px;
    border-radius: 5px ;
    cursor: pointer;
    text-decoration: none;
}

.column12 {
    background-color: #263238;
    display: flex;
    height: 260px;
    justify-content: center;
    padding-top: 2.5%;
    gap: 20em;
}
#col12-footer-search {
    border-radius: 5px;
    border: none;
    height: 30px;
    outline: none;
    background: #515a61;
}
.col12-right-footer {
    display: flex;
    width: auto;
    gap: 4em;
}
.col12-left-footer-txt-head {
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.Nexcent-White-Logo {
    margin-bottom: 50px;
}
.Col12-Copyright-txt {
    margin-bottom: 50px;
    color: #F5F7FA;
}
.col12-left-footer-icons {
    display: flex;
    gap: 20px;
}
.col12-search-container {
    position: relative;
}
#Col12-Search-Icon {
    position: absolute;
    right: 8%;
    top: 8px;
}
::placeholder {
    color: #D9DBE1;
    text-indent: 6%;
}
.col12-left-footer-txt{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    a {
        text-decoration: none;
        color: #F5F7FA;
      }
}