h1 {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: lighter;
}
Input[type="Email"] {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px; 
    width: 95%;
    padding: 5%;
   }

    Input[type="Password"] {
        width: 95%;
        padding: 5%;
    }
label[for="Password:"] {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

  label[for="Email:"] {
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p {
    text-align: center;
}
#SIGN-IN{
    font-size: 30px;
    color: rgb(243, 236, 236);
    background-color: #025C70;
    width: 105%;
    padding: 5%;
    border: none;
    cursor: pointer;
}
body {
    background-color: #0D6E91;
    justify-content: center;
    display: flex;
    
}
.login-container {
    
    background-color: white;
    text-align: left;
    width: 500px;
    height: 500px;
    position: relative;
    padding: 3em 5em 3em 4em;
    margin: 5em 5em
}
p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}