body {
    margin: o;
    font-family: arial, sans-serif;
    font-size: 0.9em;
    background-color: #222226

}

a {
    margin: 5px;
    text-decoration: none;
    color: white;

}

a:hover {
    text-decoration: underline;

}

nav {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    
}

.header-nav {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
    font-size: small;
    

}

ul > a, ul > img {
    padding: o 8px;

}

.header-img {
    box-shadow: 0 0 10px o gainsboro;
    border-radius: 20px;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.1vh;

}

h1 {
    font-family: sans-serif;
    font-size: 5.5em;
    color: white;
}

.my-input-container {
    display: flex;
    justify-content: space-around;
    width: 250px;
    height: 45px;
    border: 0. solid #4F5359;
    border-radius: 20px;

}

.my-input-container {
    box-shadow: 0 0 10px 0;
}


.my-input-container > input {
    width: 100vw;
    border: none;
    outline: none;
    color: #4F5359;

}

.my-input-container > img {
    width: 20px;
    height: 20px;
    border: none;
    padding: 1em 0.5em;
    outline: none;
    align-items: center;

}

img:hover {
    cursor: pointer; 
}

.my-button-container {
    padding-top: 53px;
}

button {
    background-color: #323136;
    color: white;
    border: 2em;
    border-radius: 5px;
    height: 36px;
    padding: 0 20px;
    margin: 0 4px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 1px grey;
}

.container {
display: flex;
padding: 1em 0.5em;
font-size: smaller;
color: white;
justify-content: center;
align-items: baseline;
}

.switzerland {
    display: flex;
    padding: 1em 0.5em;
    background-color: black;
    color: white;
    bottom: 10;
    width: 100vw;
    font-size: smaller;

}

footer {
    background-color: black;
    bottom: 0;

}

.footer-nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1px;
    margin-right: 1px;
    font-size: small;
    
    

}
#footer-left {
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
    align-items: left;

}

#footer-middle {
    display: flex;
    justify-content: center;

}

#footer-right {
    display: flex;
    justify-content: flex-start;
    padding-right: 20px;
    margin-right: 20px;
    align-items: right;
}

@media (max-width: 300px) {

    #footer-nav {
        flex-direction: column;

    }
    #footer-left {
        justify-content: left;

    }
    #footer-middle {
        justify-content: center;
    }

    #footer-right {
        justify-content: right;
    }
}

.my-input-container {
    width: 40vw;
}

@media ( max-height:322px) {


    section {
        margin-bottom: 20px;
    }

    footer {
        position: relative;
    }
}





