@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* The line above already imports the required typeface for you */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color variables declared below */

:root {
    --primary-color: #28CB8B;  /* Primary */
    --secondary-color: #263238; /* Secondary */
    --d_grey-color: #4D4D4D; /* D_Grey */
    --grey-color: #717171; /* Grey */
    --light-grey-color: #89939E; /* L_Grey */
    --white-color: #FFFFFF; /* White */
    --silver-background-color: #F5F7FA; /* Silver background*/
}

body {
    font-family: "Inter", sans-serif;
    background-color: white; /* Remove this line. It's just an example to show you how to use the color variables */
}

/* The rest of your CSS goes here */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: auto;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 90%;
    max-height: auto;
    margin-top: 1em;
    
}
  .nav2 {
    color: white;
    margin-right: 100%;
    text-align: left;
    margin-bottom: 1px;
   
}
 
.submit > button {
    padding-block: 7px;
    padding-inline: 20px;
    background-color: rgb(8, 148, 22);
    color: white;
    margin-left: 78em;
    margin-top: -2em;
    display: flex;
    position: absolute;

    
}
.navigation  {
    margin-left: 40em;
    margin-top: -2em;
    gap: 50px;
    
   
}

.second {
  width: 100%;
  padding-bottom: 6em;
  padding-top: 3em;
  margin: 0 auto;
  background-color: rgb(243, 240, 240);


}
.image {
    margin-top: -20em;
    margin-left: 47em;
    
}

h2 {
    margin-left: 80px;
    margin-top: 20px;
    color: green;
}
h1 {
    margin-left: 80px;
    margin-top: 60px;
    font-size: 50px;
}
p { 
    margin-left: 80px;  
    margin-top: 20px;
}
button {
    margin-left: 80px;
    margin-top: 20px;
    border: none;
    padding-block: 1em;
    padding-inline: 1em;
    background-color: green;
    color: white;
}
.third-column {
    position: relative;
    
}
.third-column > h1 {
    color: rgb(10, 10, 10);
    text-align: center;
}
.third-column > p {
    color: rgb(15, 15, 15);
    text-align: center;
    margin-top: 0;
}
.image-lists {
    gap: 10em;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.third-column > h2 {
    color: rgb(15, 15, 15);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
}
.third-column > p {
    color: rgb(15, 15, 15);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}
.image-lists2 {
    gap: 300px;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    background-color: none
  
    
}
.contains {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;

}
.contains > h1 {
    font-size: 18px;
    background-color: white;
    
}
.body {
  background-color: none;

}
.bodies > h1 {
    margin-left: 400px;
    color: rgb(10, 9, 9);
    margin-top: -250px;
}
.bodies > p {
    margin-left: 400px;
    color: rgb(10, 9, 9);
    font-size: 12px;
    
   
}
.bodies > button {
    margin-left: 400px;
    color: white;
    font-size: 12px;
    
}
.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    text-align: center;
    background-color: rgb(243, 240, 240);
    margin-bottom: 20px;
    padding-top: -50em;
}
.mains  {
  margin-left: 400px;
    margin-right: -50px;
   
}
.mains > h1 {
    margin-top: 100px;
  
}
.main1 > h1 {
    margin-top: 100px;
}
  
.main2 > h1 {
    margin-left: 450px;
    margin-right: -50px;
    margin-top: -0.5em;

}
.main1 > p {
    margin-top: -5px;
    margin-bottom: 50px;
}
.mains > p {
    margin-top: -4px;
    margin-bottom: 50px;
}
.main2 > p {
    margin-top: -0.5em;
    margin-bottom: 50px;
    margin-left: 450px;
  
}
.main3 > h1 {
    margin-top: -0.5em;
    margin-bottom: 50px;
}
.main3 > p {
    margin-top: -3em;
    margin-bottom: 50px;
    margin-left: 100px;
   
}
.img {
    margin-left: 810px;
    margin-top: -15em;
    
}
.img2 {
    margin-left: 780px;
    margin-top: 60px;
}
.img3 {
    margin-left: 450px;
    margin-top: -30px;
    
}
.img4 {
    margin-left: 440px;
    margin-top: -150px;
    
}
.helping > h1 {
    color: rgb(7, 6, 6);
    margin-top:  140px;
    margin-left: 40px;
  position: absolute;
}
.helping > h2 {
    color: rgb(20, 202, 20);
    margin-top:  190px;
    margin-left: 40px;
  position: absolute;
}
.helping > p {
    color: rgb(14, 15, 14);
    margin-top:  220px;
    margin-left: 40px;
  position: absolute;
  font-size: 12px;
}
.helping {
    background-color: rgb(243, 240, 240);
    display: flex;
    position: relative;
    flex-direction: column;
}
.how {
    background-color: none;
    position: relative;
    margin-top: 220px;
    display: flex;
    margin-left: 250px;
    margin-right: 145px;
}
.how > .images {
    margin-left: -10em;
    margin-top: 3em;

}
.design > h1 {
    font-size: 26px;
    position: relative;
}
.design > p {
    font-size: 12px;
    position: relative;
}
.black > p {
    margin-left: 50px;
    margin-right: 240px;
    position: relative;
  
}
.black > .black-design {
    margin-left: 3em;
    margin-top: 5em;
    margin-right: 60rem;
}
.black {
    background-color: rgb(243, 240, 240);
    padding-bottom: 1em;
}
  
.blacks > p {
    margin-left: 20em;
    margin-top: -250px;
    color: black;
    font-size: 16px;

}
.tim > h1 {
    margin-left: 12.5em;
    margin-top: 10px;
    color: green;
    font-size: 25px;
}
.tim > p {
    margin-left: 20em;
    margin-top: 1em;
    color: rgb(10, 10, 10);
   
}
.logos {
    margin-left: 20em;
    margin-top: 10px;
    gap: 50px;
    justify-content: left;
    display: flex;   
}
.logos > div {
    color: green;
}
.market > h1 {
    text-align: center;
    margin-top: 30px;
}
.market > p {
    text-align: center;
    margin-top: 1px;
}
.imag {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5em;
    margin-left: 7em;
    margin-right: 50px;
    margin-top: 10px;
}
.button1 > button {
display: flex;
   margin-left: 10em;
   margin-top: -50px;
   text-align: center;   
   border-radius: 10px;
  background-color: rgb(218, 211, 211);
  color: black;
padding-bottom: 50px;
position: relative;
}
.button2 > button {

    margin-left: 38em;
    margin-top: -10em;
    display: flex;
    position: relative;
    text-align: center;   
    border-radius: 10px;
   background-color: rgb(218, 211, 211);
   color: black;
 padding-bottom: 50px;
 
}
.button3 > button {
    margin-left: 65em;
    position: relative;
    margin-top: -8em;
    display: flex;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(218, 211, 211);
    color: black;
    padding-bottom: 50px;
     
    
}
.para > p {
    margin-left: 12em;
    margin-top: -1em;
    color: green;
    position: relative;
    display: flex;
}
.paras > p {
    margin-left: 58em;
    margin-top: -2em;
    color: green;
    position: relative;
    display: flex;
}
.parass > p {
    margin-left: 36em;
    margin-top: -2em;
    color: green;
    position: relative;
}
.pelle {
    text-align: center;
    width: 100%;
    position: relative;
    margin-top: 90px;
    background-color: rgb(243, 240, 240);
   
}
.support> h2 {
    margin-top: 50px;
    font-size: 20px;
    margin-left: 200px;
    
}
.support> p {
    margin-left: 200px;
}
.company > h1 {
    margin-left: 6em;
    font-size: 20px;
    
}
.company > p {
    margin-left: 8em;
}
.stay > h3 {
   margin-left: 70px;
   margin-top: 50px;
   font-size: 20px;
   position: relative;
}
.stay > input[type="email"] {
    margin-left: 5em;
    padding: 10px;
    border-radius: 10px;
  
    position: relative;
} 
.nexcents > h1 {
    margin-top: 50px;
    display: flex;
    position: relative;
    color: white;
    margin-left: 2em;
}
.nexcents > p {
    margin-top: 2em;
    display: flex;
    position: relative;
    margin-left: 6em;
    
}
.last {
    background-color: rgb(8, 8, 8);
    display: flex;
    padding-bottom: 4em;
    padding-top: 40px;
    width: 100%;
    color: white;
    
}
.last-image {
    margin-left: -66em;
    margin-top: 200px;
    gap: 20px;
    display: flex;
    position: relative;
}
@media (max-width: 760px) {
    .container {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
    }
}
/* small phones*/
@media (max-width: 375px) {
    body {
        font-size: 14px;
    }
}
/* medium phones*/
@media (max-width: 425px) {
    body {
        font-size: 15px;
    }
}